<meta charset="utf-8">
<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-6 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        <h4 class="header blue lighter bigger">
                            Registracija u Studentski planer
                        </h4>
                        <br/>
                        <form name="signupForm" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="email">Korisničko ime:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                        <input type="text" class="form-control" placeholder="Unesite korisničko ime" name="email" ng-model="signup.email" focus/>
                                        <span ng-show="signupForm.email.$error.email" class="help-inline">Korisničko ime nije ispravno</span> 
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="sifra">Lozinka:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name = "sifra" placeholder="Unesite lozinku" ng-model="signup.sifra" required/>
                                <small class="errorMessage" data-ng-show="signupForm.sifra.$dirty && signupForm.sifra.$invalid">Unesite lozinku</small>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="sifra2">Ponovite lozinku:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="password" class="form-control" name="sifra2" placeholder="Ponovite lozinku" ng-model="signup.sifra2" password-match="signup.sifra" required/>                                
                                <small class="errorMessage" data-ng-show="signupForm.sifra2.$dirty && signupForm.sifra2.$error.required">Ponovno unesite lozinku</small>

                               <small class="errorMessage" data-ng-show="signupForm.sifra2.$dirty && signupForm.sifra2.$error.passwordNoMatch && !signupForm.sifra2.$error.required">Lozinke se ne podudaraju.</small>

                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="ime">Ime i prezime:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Unesite ime i prezime" ng-model="signup.ime" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="telefon">Telefon:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Unesite telefon" name="telefon" ng-model="signup.telefon"/>
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-5 control-label no-padding-right" for="adresa">Adresa:</label>
                                <div class="col-sm-7">
                                    <span class="block input-icon input-icon-right">
                                <input type="text" class="form-control" placeholder="Unesite adresu" ng-model="signup.adresa" />
                            </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="lbl col-sm-5"> </span>
                                <div class="col-sm-7">
                                    <button type="submit" class="width-35 pull-right btn btn-sm btn-primary" ng-click="signUp(signup)" data-ng-disabled="signupForm.$invalid">
                                        Registrirajte se
                                    </button>
                                </div>
                            </div>
                            </fieldset>
                            <span class="lbl col-sm-5"> </span>
                            <div class="col-sm-7">Imate korisnički račun? <a href="#/login">Prijavite se</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /.page-content -->